#include</home/nya/.cache/wal/colors.Xresources>

URxvt.scrollBar :	false
URxvt.font :		xft:Hack:style=regular:pixelsize=13:antialias=true
URxvt.boldFont :	xft:Hack:style=regular:pixelsize=13:antialias=true

URxvt.iso14755: false
URxvt.iso14755_52: false


URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!URXVT Extensions
URxvt.perl-ext-common: font-size


!font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.keysym.C-equal:  perl:font-size:reset
URxvt.keysym.C-slash:  perl:font-size:show

	
